#comment {
    margin-top: 15vh;
}









@media screen and (min-width: 1025px) {
    #comment {
        margin: auto;
        width: 25vw;
        min-height: 92vh;
        background-color: seagreen;
    }
}